.card {
    padding: 2%;
    margin: 2%;
    flex-grow: 1;
    border: solid 1px var(coral);
    flex-basis: 100%;
    position: sticky;
    @include teal-shadow;

    @include respond-small{
        flex-basis: 100%;
    }

    @include respond-medium {
        flex-basis: 40%;
    }

    @include respond-large{
        flex-basis: 33%;
    }

    @include respond-x-large{
        flex-basis: 25%;
    }

    &__image {
       max-width: 98%;
       margin: 1%;
       padding: 1%;
       max-height: 100%;
    }
}


