.page {
    background-color: var(--light);
    box-sizing: border-box;
    &__heading {
        border: 1px solid var(--coral);    
        margin: 2%;
        padding: 2%;
        font-size: 2.25rem;
    }
    &__sub-heading {
        border: 1px solid var(--coral);    
        margin: 2%;
        padding: 2%;
        font-size: 1.75rem;
    }
    &__text {
        border: 1px solid var(--coral);    
        margin: 2%;
        padding: 2%;
        font-size: 1rem;
    }
    &__container {
        border: 1px solid var(--coral);
        display: flex;
        justify-content: space-evenly;
        margin: 2%;
        padding: 2%;
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
    }
}