:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

@mixin respond-x-small {
    @media (max-width: 600px) { @content };
  }

  @mixin respond-small {
    @media (min-width: 600px) { @content };
  }

@mixin respond-medium {
    @media (min-width: 768px) { @content };
  }

  @mixin respond-large {
    @media (min-width: 992px) { @content };
  }

  @mixin respond-x-large {
    @media (min-width: 1200px) { @content };
  }

  @mixin teal-shadow {
    border: 1px solid var(--coral);
    box-shadow: 5px 5px 8px var(--dark), 10px 10px 8px var(--teal), 15px 15px 8px var(--coral);
    border-radius: 5%;
  }